<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true" security-context-repository-ref="customSpringSecurityContextRepository"
          access-decision-manager-ref="accessDecisionManager">
        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/hello-world" access="hasRole('ADMIN') AND hasAccess()"/>
        <form-login authentication-failure-url="/login" default-target-url="/hello-world"/>
        <http-basic/>
        <logout logout-url="/logout"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userDao">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"
                factory-method="getInstance"/>

    <beans:bean id="userDao" class="com.budzko.cookbook.spring.security.session.mysql.dao.UserDao"/>
    <beans:bean id="customSpringSecurityContextRepository"
                class="com.budzko.cookbook.spring.security.session.mysql.security.CustomSpringSecurityContextRepository"/>

    <beans:bean id="customExpressionHandler"
                class="com.budzko.cookbook.spring.security.session.mysql.security.CustomExpressionHandler"/>
    <beans:bean id="expressionVoter" class="org.springframework.security.web.access.expression.WebExpressionVoter"
                p:expressionHandler-ref="customExpressionHandler"/>

    <beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
        <beans:constructor-arg ref="expressionVoter"/>
    </beans:bean>

</beans:beans>